@page "/about"
@using MongoDB.Bson
@using MongoDB.Driver

<h1>JanDash</h1>

<a href="https://github.com/Jan0660">By Jan0660</a>

<p>@(Mongo.UsersCollection.CountDocuments(new ObjectFilterDefinition<BsonDocument>(new()))) users in total.</p>

<p>Version @Program.Version</p>